<div class="container">
    <h2>Ticket Counts</h2>

    <div class="dash">
        <div class="dash-card" routerLink="/tickets" (click)="setFilter(0)">
            All Tickets: {{ allCount }}
        </div>
        <div class="dash-card" routerLink="/tickets" (click)="setFilter(1)">
            {{ 1 | statusLabel }}: {{ ticketsCount[0] }}
        </div>
        <div class="dash-card" routerLink="/tickets" (click)="setFilter(2)">
            {{ 2 | statusLabel }}: {{ ticketsCount[1] }}
        </div>
        <div class="dash-card" routerLink="/tickets" (click)="setFilter(3)">
            {{ 3 | statusLabel }}: {{ ticketsCount[2] }}
        </div>
        <div class="dash-card" routerLink="/tickets" (click)="setFilter(4)">
            {{ 4 | statusLabel }}: {{ ticketsCount[3] }}
        </div>
    </div>
</div>
