<div class="ticket-card">
    <div class="info">
        <a [routerLink]="['/tickets', ticket.ticketKey]">
            <h2 [attr.title]="ticket.description.substring(0, 50) + '...'">
                #{{ ticket.id }} {{ ticket.title | titlecase }}
            </h2>
        </a>
        <p><b>Key:</b> {{ ticket.ticketKey }} </p>
        <p><b>Created:</b> {{ ticket.createdAt | date:'medium' }}</p>
        <p><b>Status:</b> {{ ticket.statusId | statusLabel }}</p>
        <p><b>Priority:</b> {{ ticket.priorityId | priorityLabel : false }}</p>
        @if (ticket.description) {
        <p><b>Description:</b> {{ ticket.description }}</p>
        }
    </div>
    <button (click)="deleteTicket()">Delete</button>
</div>
