p {
    margin: 5px 0;
}

.ticket-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #7e7e7e;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 10px;
}

.ticket-card h2 {
    text-decoration: underline;
    font-weight: bold;
    cursor: default;
}

button {
    padding: 17px 22px;
    border-radius: 7px;
    cursor: pointer;
    align-self: flex-end;
    border: 1px solid white;
    color: white;
    background-color: #333;
    transition: background-color 0.1s ease-in-out, border 0.1s ease-in-out; 
}

button:hover {
    background-color: #b62727;
    border-color: #b62727;
}

button:active {
    border-color: white;
}