<input class="search" type="text" placeholder="Search by title..." [(ngModel)]="searchText" />

<form (ngSubmit)="addTicket()">
  <input type="text" name="title" placeholder="Title..." [(ngModel)]="newTicketTitle"/>

  <select name="priorityId" [(ngModel)]="newTicketPriorityId">
    <option [ngValue]="0" disabled hidden>Priority</option>
    <option [ngValue]="1">LOW</option>
    <option [ngValue]="2">MEDIUM</option>
    <option [ngValue]="3">HIGH</option>
  </select>

  <button type="submit">Add Ticket</button>
</form>

@if (filteredTickets.length === 0) {
    <p class="no-tickets">Ticket list is empty.</p>
}
@else {
    @for (ticket of filteredTickets; track ticket.id) {
        <app-ticket-card [ticket]="ticket" (delete)="deleteTicketById($event)"/>
    }
}
