<input class="search" type="text" placeholder="Search by title..." [(ngModel)]="searchText" (ngModelChange)="onSearch()"/>

<form [formGroup]="ticketForm" (ngSubmit)="addTicket()" class="ticket-form">
  
  <div class="form-grid">
    <div class="form-group title-group">
      <input type="text" formControlName="title" placeholder="Title..." />
      @if (ticketForm.get('title')?.invalid && pressedSubmit) {
        <p class="error">Title required (max 100 letters).</p>
      }
    </div>

    <div class="form-group priority-group">
      <select formControlName="priorityId">
        <option [ngValue]="0" disabled hidden>Priority</option>
        <option [ngValue]="1">LOW</option>
        <option [ngValue]="2">MEDIUM</option>
        <option [ngValue]="3">HIGH</option>
      </select>
      @if (ticketForm.get('priorityId')?.invalid && pressedSubmit) {
        <p class="error">Select a priority.</p>
      }
    </div>

    <div class="form-group description-group">
      <input type="text" formControlName="description" placeholder="Description (optional)..." />
      @if (ticketForm.get('description')?.invalid && pressedSubmit) {
        <p class="error">Description must be less than 1000 characters.</p>
      }
    </div>
  </div>

  <button type="submit" class="submit-btn" [class.disabled]="ticketForm.invalid">Add Ticket</button>
</form>

@if (ticketsObs | async; as tickets) {
  @if (tickets.length === 0) {
    <p class="no-tickets">Ticket list is empty.</p>
  }
  @else {
    @for (ticket of tickets; track ticket.id) {
      <app-ticket-card [ticket]="ticket" (delete)="deleteTicketById($event)"/>
    }
  }
}
