.all {
    width: 1000px;
    max-width: 80%;
    margin: 50px auto;
}

.ticket-card {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #7e7e7e;
    border-radius: 10px;
    padding: 40px 60px;
}

.ticket-card h2 {
    text-decoration: underline;
    font-weight: bold;
}

.ticket-card p {
    margin: 5px 0;
}

button {
    padding: 17px 22px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #333;
    transition: background-color 0.1s ease-in-out, border 0.1s ease-in-out; 
}

.delete-btn {
    align-self: flex-start;
    border: 1px solid white;
}

.delete-btn:hover {
    background-color: #b62727;
    border-color: #b62727;
}

.delete-btn:active {
    border-color: white;
}

.back-btn {
    margin-bottom: 20px;
}

.audit-log {
    margin-top: 50px;
}

.audit-log h2 {
    text-decoration: none;
    margin-bottom: 30px;
}

.audit-item {
    border-top: 2px solid #d6d6d6;
    border-radius: 5px;
    list-style-type: none;
    margin-top: 20px;
    background-color: #efefef;
    padding: 10px 20px;
}
